.bp { color: #999; }
.c { color: #998; font-style: italic; }
.c1 { color: #998; font-style: italic; }
.cm { color: #998; font-style: italic; }
.cp { color: #999; font-weight: bold; }
.cs { color: #999; font-weight: bold; font-style: italic; }
.err { color: #a61717; background-color: #e3d2d2; }
.gc { color: #999; background-color: #EAF2F5; }
.gd .x { color: #000; background-color: #faa; }
.gd { color: #000; background-color: #fdd; }
.ge { font-style: italic; }
.gh { color: #999; }
.gi .x { color: #000; background-color: #afa; }
.gi { color: #000; background-color: #dfd; }
.go { color: #888; }
.gp { color: #555; }
.gr { color: #a00; }
.gs { font-weight: bold; }
.gt { color: #a00; }
.gu { color: #800080; font-weight: bold; }
.il { color: #099; }
.k { font-weight: bold; }
.kc { font-weight: bold; }
.kd { font-weight: bold; }
.kn { font-weight: bold; }
.kp { font-weight: bold; }
.kr { font-weight: bold; }
.kt { color: #458; font-weight: bold; }


.m { color: #099; }
.mf { color: #099; }
.mh { color: #099; }
.mi { color: #099; }
.mo { color: #099; }

.na { color: #008080; }
.nb { color: #0086B3; }
.nc { color: #458; font-weight: bold; }

.ne { color: #900; font-weight: bold; }
.nf { color: #900; font-weight: bold; }
.ni { color: #800080; }

.nn { color: #555; }
.no { color: #008080; }
.nt { color: #000080; }
.nv { color: #008080; }

.o { font-weight: bold; }
.ow { font-weight: bold; }



.s { color: #d14; }
.s1 { color: #d14; }
.s2 { color: #d14; }
.sb { color: #d14; }
.sc { color: #d14; }
.sd { color: #d14; }
.se { color: #d14; }
.sh { color: #d14; }
.si { color: #d14; }
.sr { color: #009926; }
.ss { color: #990073; }
.sx { color: #d14; }
.vc { color: #008080; }
.vg { color: #008080; }
.vi { color: #008080; }
.w { color: #bbb; }

pre, code {
    /* combination of github theme and borders/backgrounds from
     * bootstrap */

    color: #333 !important;
    font-family: 'Bitstream Vera Sans Mono', Courier, monospace !important;
    font-size: 12px !important;

    margin: 0 0 9px;
    font-size: 12.025px;
    line-height: 18px;
    background-color: #f5f5f5 !important;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

code {
    padding: 2.5px;
}

pre {
    display: block;
    padding: 8.5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
